/* Home Detail*/
 
.Home_content{
    width: 1738px;
    height: 969px;
    
}

.Home_content container div h1{
    padding-top: 30px;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    
}


.Home_content p{
    margin-bottom: 50px;
}

.Home_content container{
    display: flex;
    flex-wrap: wrap;
}
.Home_content div{
    margin-top: 40px;
    margin-left: 80px;
    width: 458px;
    height: 310px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(25px) brightness(115%);
    box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 18px;
    border-radius: 15px;
}





@media only screen and (max-width:1833px){
    .Home_content div{
        margin-left: 70px;
    }
}

@media only screen and (max-width:1800px){
    .menu div{
        margin-left: 50px;
       
    }
   
    .Home_content div{
        margin-left: 50px;
    }
}


@media only screen and (max-width:1730px){
    .Home_content div{
        width: 350px;
        margin-left: 100px;
    }
}

@media only screen and (max-width:1577px){
    .menu div{
        margin-left: 42px;
       
    }
    .Home_content div{
        width: 350px;
        margin-left: 60px;
    }
}

@media only screen and (max-width:1442px){
    .menu div{
        margin-left: 35px;
       
    }
    
    .Home_content div{
        width: 350px;
        margin-left: 40px;
    }
}

@media only screen and (max-width:1345px){
    .menu div{
        margin-left: 30px;
       
    }
    
    .Home_content div{
        width: 458px;
        margin-left: 80px;
    }
}


@media only screen and (max-width:1250px){
    .menu div{
        margin-left: 26px;
       
    }
    
    
    .Home_content div{
        width: 458px;
        margin-left: 50px;
    }
}

@media only screen and (max-width:1170px){
    .menu div{
        margin-left: 23px;
       
    }
    .Home_content div{
        width: 400px;
        margin-left: 50px;
    }
}

@media only screen and (max-width:1110px){
    .menu div{
        margin-left: 15px;
       
    }
    .Home_content div{
        width: 350px;
        margin-left: 50px;
    }
}

@media only screen and (max-width:980px){
    .Home_content div{
        width: 300px;
        margin-left: 50px;
    }
}



@media only screen and (max-width:375px){
    
    .dock{
        width: 0;
        display: flex;
        padding-top: 650px;
        position: fixed;
    }
    
    .Home_content{
        width: 375px;
        height: 610px;
        overflow: hidden;
        overflow-y: scroll;
    }
    
    .Home_content container div{
        width: 250px;
        height: 180px;
        margin-left: 50px;
    }
  
 
}