
 
 /* Setting Detail*/
 
 .Progress_content{
    width: 1738px;
    height: 969px;
    
}

.Progress_content p{
    margin-bottom: 50px;
}

.Progress_content container{
    display: flex;
    flex-wrap: wrap;
}
.point{
    margin-top: 40px;
    margin-left: 80px;
    width: 458px;
    height: 310px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(25px) brightness(115%);
    box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 18px;
    border-radius: 15px;
}

.point p10{
   padding-top: 200px;
   padding-left: 30px;
   font-size: 20px;
   font-weight: bold;
   color: #1479FF;
}
.chart {
   margin-top: 40px;
   margin-left: 80px;
   width: 1000px;
   height: 310px;
   background-color: rgba(255, 255, 255, 0.75);
   backdrop-filter: blur(25px) brightness(115%);
   box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 18px;
   border-radius: 15px;

  
}
.chart p10{
   padding-top: 200px;
   padding-left: 30px;
   font-size: 20px;
   font-weight: bold;
   color: #1479FF;
}

.chart container{
   padding-left: 100px;
   display: flex;
   align-items: flex-end;
   list-style: none;
   
}

.chart container li{
   padding-right: 30px;
   padding-top: 35px;
   transition: all 0.5s;
}

.chart container li:hover{
   transform: scaleY(1.2)
}

