<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}    <link rel="stylesheet" type="text/css" href="{% static 'css/about_style.css' %} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <a></a>
        <li>Mechatopia</li>
        <li>about</li>
    </header>
    <section class="first">
        <div>
        <!--    <img src="{% static 'media/com.png'%}" width="243" height="182">-->
        {% load static %} <img src="{% static "media/com.png" %}" alt="about" />
          <container>
            <li class="logo">Mechatopia</li>
            <li class="p1">เป็นสถานที่ที่มอบประสบการณ์ในการเรียนรู้ด้านแมคคาทอนิกส์ </li>
            <li class="p1">เข้ามาร่วมเรียนรู้และฝึกฝนไปพร้อมกัน </li>
          </container>

        </div>

    </section>

    <section class="second">
        <container>
        <div class="dev">
            <p>นักพัฒนา</p>
            <li>นาย สุเมต คงแก้ว</li>
            <li>นาย ปัณณวิชญ์ สังวร</li>
            <li>นาย ธนวินท์ ศรีสุข</li>
            <li>นาย พรชีย พุ่มภิญโญ</li>
        </div>
        <div class="link">
            <p>Link ที่เกี่ยวข้อง</p>
            <box>
                <ul class="git">
                    <a href="https://github.com/CN331-Project/mechatopia" >
                <!--           <li><img src="{% static 'media/githup.png'%}"></li>-->
                       {% load static %} <img src="{% static "media/githup.png" %}"/>
                        <li><p2>Githup</p2></li>
                    </a>
                </ul>
                <ul  class="pivol">
                    <a href="https://www.pivotaltracker.com/n/projects/2535855" class="pivol">
              <!--        <li><img src="{% static 'media/pivotal.png'%}"></li>-->
                          {% load static %} <img src="{% static "media/pivotal.png" %}"  />
                        <li><p2>Pivotal Tracker</p2></li>
                    </a>

                </ul>
            </box>



        </div>
        </container>
    </section>
</body>
</html>
##
