
{% extends "layout.html" %}

{% block login%}
<section class="dock"> 
    <p >Mechatopia</p>
    <a href="/home">
        <div class="menu" >
            <div class="unselect">{% load static %} <img src="{% static "media/Home-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li >หน้าหลัก</li>
        </div>
    </a>
    
    <a href="#">
        <div class="menu" >
            <div class="select" >{% load static %} <img src="{% static "media/Challege_Select-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>ท้าทาย</li>
        </div>
    </a>
    
    <a href="/progress">
        <div class="menu">
            <div class="unselect">{% load static %} <img src="{% static "media/Progress-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>ความก้าวหน้า</li>
        </div>
    </a>
    
    <a href="/setting">
        <div class="menu" >
            <div class="unselect">{% load static %} <img src="{% static "media/Setting-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>การตั้งค่า</li>
        </div>
    </a>
    <a href="{% url 'logout' %}" id='logout'>log out</a>
    
    
    
    
</section>

<section class="Home_content">

    <container>
        <a href="/challenge/x">
        <div>
            <h1>Challege : xxxxxxx </h1>
        </div>
        </a>
        
        <div>
           
        </div>

        <div>
         
        </div>
          
        <div>
            
        </div>
       
        <div>
            
        </div>
    </container>


</section>

{% endblock %} 