
{% extends "layout.html" %}

{% block login%}
<section class="dock"> 
    <p >Mechatopia</p>
    <a href="/home">
        <div class="menu" >
            <div class="select">{% load static %} <img src="{% static "media/Home_Selcet-01-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li >หน้าหลัก</li>
        </div>
    </a>
    
    <a href="#">
        <div class="menu" >
            <div class="unselect" >{% load static %} <img src="{% static "media/Challege-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>ท้าทาย</li>
        </div>
    </a>
    
    <a href="/progress">
        <div class="menu">
            <div class="unselect">{% load static %} <img src="{% static "media/Progress-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>ความก้าวหน้า</li>
        </div>
    </a>
    
    <a href="/setting">
        <div class="menu" >
            <div class="unselect">{% load static %} <img src="{% static "media/Setting-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>การตั้งค่า</li>
        </div>
    </a>
    <a href="{% url 'logout' %}" id='logout'>log out</a>
    
    
    
    
</section>

<section class="Lab_content">
    <div>
        <h1>บทความที่ 1</h1>
        <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis ullamcorper dolor. Vestibulum pellentesque ipsum id urna efficitur aliquet. Fusce vel mauris ante. In nec turpis tincidunt, lobortis elit condimentum, vestibulum ipsum. Cras pulvinar tempus congue. Morbi vel dui quis mauris suscipit tempor. Mauris vestibulum ligula sed lorem fermentum, sed vestibulum lacus fermentum. Ut fringilla nisl a est sagittis molestie. Mauris non auctor eros, et dictum sem. Donec eu mi et nulla elementum vestibulum. Praesent eget nisi nec purus vestibulum maximus. Nulla a ex efficitur, commodo ligula sit amet, pharetra ligula. In varius varius orci eget lacinia. Phasellus leo eros, dictum vel est in, faucibus lacinia mauris. In viverra imperdiet ornare. In tincidunt molestie sodales.<br></p1>
        
        
    </div>
    <div>
        <h1>lab1</h1>
        <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis ullamcorper dolor. Vestibulum pellentesque ipsum id urna efficitur aliquet. Fusce vel mauris ante. In nec turpis tincidunt, lobortis elit condimentum, vestibulum ipsum. Cras pulvinar tempus congue. Morbi vel dui quis mauris suscipit tempor. Mauris vestibulum ligula sed lorem fermentum, sed vestibulum lacus fermentum. Ut fringilla nisl a est sagittis molestie. Mauris non auctor eros, et dictum sem. Donec eu mi et nulla elementum vestibulum. Praesent eget nisi nec purus vestibulum maximus. Nulla a ex efficitur, commodo ligula sit amet, pharetra ligula. In varius varius orci eget lacinia. Phasellus leo eros, dictum vel est in, faucibus lacinia mauris. In viverra imperdiet ornare. In tincidunt molestie sodales.<br></p1>
        <input type="text" id ='fills' placeholder="ใส่ link" name="major">
        <a href="/home"><input type="button" id ='fills' value="ส่ง" name="major"></a>
        
    </div>
    <iframe src="https://wokwi.com/arduino/new?template=arduino-uno" height="600" width="1200"title="description"></iframe>
    
</section>

{% endblock %} 