<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}    <link rel="stylesheet" type="text/css" href="{% static 'css/layout_style.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Home.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Setting.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/progress.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab.css' %} ">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    {% block login%}

    {% endblock %} 
    

    
</body>
</html>



