
{% extends "layout.html" %}

{% block login%}
<section class="dock"> 
    <p >Mechatopia</p>
    <a href="/home">
        <div class="menu" >
            <div class="unselect">{% load static %} <img src="{% static "media/Home-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li >หน้าหลัก</li>
        </div>
    </a>
    
    <a href="/challenge/">
        <div class="menu" >
            <div class="unselect" >{% load static %} <img src="{% static "media/Challege-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>ท้าทาย</li>
        </div>
    </a>
    
    <a href="#">
        <div class="menu">
            <div class="select">{% load static %} <img src="{% static "media/Progress_Select-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>ความก้าวหน้า</li>
        </div>
    </a>
    
    <a href="/setting">
        <div class="menu" >
            <div class="unselect">{% load static %} <img src="{% static "media/Setting-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>การตั้งค่า</li>
        </div>
    </a>

    <a href="{% url 'logout' %}" id='logout'>log out</a>
    
    
    
    
</section>

<section class="Progress_content">
    <container>
        <div class="point">
            <p10>คะแนน</p10>
        </div>

        <div class="point">
            <p10>คะแนนพิเศษ</p10>
        </div>

        <div class="point"> 
            <p10>จำนวนแลปที่เหลือ</p10>
        </div>
        <div class="chart">
            <p10>คะแนนในแต่ละ lab</p10>
            <container>
                {% for time,chart in infors%}
                <li>
                    <p6>{{time}}</p6>
                    
                    {% if chart >= max %}
                    
                        <div style=" height: {{chart}}px;  width: 30px;    background-color: #35C548;" ></div>
                    {% elif chart >= med %}
                        <div style=" height: {{chart}}px;  width: 30px;    background-color: #E1AD46;" ></div>
                    {% else %}
                        <div style=" height: {{chart}}px;  width: 30px;    background-color: #D20A1E;" ></div>
                    
                    {% endif %}
                </li>
        
                {% endfor %}

            </container>
        </div>
        
    </container>


</section>

{% endblock %} 