
{% extends "layout.html" %}

{% block login%}
<section class="dock"> 
    <p >Mechatopia</p>
    <a href="/home">
        <div class="menu" >
            <div class="unselect">{% load static %} <img src="{% static "media/Home-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li >หน้าหลัก</li>
        </div>
    </a>
    
    <a href="/challenge">
        <div class="menu" >
            <div class="unselect" >{% load static %} <img src="{% static "media/Challege-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>ท้าทาย</li>
        </div>
    </a>
    
    <a href="/progress">
        <div class="menu">
            <div class="unselect">{% load static %} <img src="{% static "media/Progress-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>ความก้าวหน้า</li>
        </div>
    </a>
    
    <a href="/setting">
        <div class="menu" >
            <div class="select">{% load static %} <img src="{% static "media/Setting_select-01.svg" %}" alt="about" width="31" height="31" /></div>
            <li>การตั้งค่า</li>
        </div>
    </a>
    <a href="{% url 'logout' %}" id='logout'>log out</a>
    
    
    
    
</section>

<section class="Setting_content">
    
    <div>
        <li class="header">บัญชี</li>  
        
        <li class = "detail">
            <p20>ชื่อผู้ใช้: {{user.username}}</p20>
        </li>
        <li class = "detail">
            <p20>ชื่อ: {{user.first_name}}</p20>
        </li >
        <li class = "detail">
            <p20>นามสกุล: {{user.last_name}}</p20>
        </li>
        <li class = "detail">
            <p20>email: {{user.email}}</p20>
        </li>
        

    </div>
    
    <div>
        <li class="header">โปรไฟล์
            <input type="button" id = "edit" value='แก้ไข' onclick="text(0)">
        </li>
        <li class = "detail">
            <form action="{% url 'editprofile' %}" method="post">
               {% csrf_token %}
                <li>คณะ: 
                    <input type="text" id ='fill' placeholder="ใส่คณะ" name="faculty">
                    {% for data in  data%}
                    <p3 id="infor">{{data.faculty}}</p3>
                    {% endfor %}
                </li>
                <li>คณะ: 
                    <input type="text" id ='fills' placeholder="ใส่สาขา" name="major">
                    {% for data in  data%}
                    <p3 id="major">{{data.major}}</p3>
                    {% endfor %}
                </li>
                

               

                
                <input type="submit" id="save" value="บันทึก"> 
                <input type="button" id="cancel" value='ยกเลิก' onclick="text(1)">
            </form> 
        </li>
        
       
    </div>
   
</section>

<script>
    function text(x){
        if (x==0) {
            document.getElementById('fill').style.display="inline";
            document.getElementById('fills').style.display="inline";
            document.getElementById('cancel').style.display="inline";
            document.getElementById('save').style.display="inline";
            document.getElementById('edit').style.display="none";
            document.getElementById('infor').style.display="none";
            document.getElementById('major').style.display="none";
        }
        if (x==1) {
            document.getElementById('fill').style.display="none";
            document.getElementById('fills').style.display="none";
            document.getElementById('cancel').style.display="none";
            document.getElementById('edit').style.display="inline";
            document.getElementById('infor').style.display="inline";           
            document.getElementById('major').style.display="inline";
            document.getElementById('save').style.display="none";
        }
        
        
        
    } 
</script>

{% endblock %} 